@font-face {
    font-family: Poppins;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');
 }

.body__Desafio5{
    background: linear-gradient(130.02deg, #628E75 0.66%, #1A4855 83.32%);
    margin: 0;
    color: #fff;
    min-height: 100%;
    height: 100vh;
    width: 100vw;
    min-width: 535px;
    min-height: 870px;
}
.header__Desafio5, .main__Desafio5{
    display: flex;
    align-items: center;
    padding: 2rem 2rem;
}

.header__Desafio5{
    justify-content: space-between;
}

.nav__Desafio5 button{
    all: unset;
    margin: 0 1rem;
    cursor: pointer;
}

.main__Desafio5{
    flex-direction: row;
    justify-content: space-around;
}
.main__columnText__Desafio5{
    width: 40vw;
    min-width: 500px;
}

.main__columnText__Desafio5 h3{
    font-size: 2rem;
}
.main__columnText__Desafio5 h2{
    font-size: 5rem;
    line-height: 4.5rem;
}
.main__columnText__Desafio5 p{
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 300;
}
.main__rowButtons__Desafio5{
    display: flex;
    flex-direction: row;
}
.button__trailer__Desafio5,.button__assistir__Desafio5{
    padding: 0.5rem 2rem;
    transform: skewX(-25deg);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.button__assistir__Desafio5{
    background-color: #628E75;
}

.button__assistir__Desafio5 span{
    margin-left: 0.4rem;
}

.button__trailer__Desafio5{
    border:2px solid;
    border-color: #628E75;
    margin-left: 2rem;
}

@media screen and (max-width:1145px) {
    .body__Desafio5{
        padding: 0 1rem 2rem;
        height: 100%;
    }
    .header__Desafio5,.main__Desafio5{
        padding: 0.5rem 1rem;
    }
    .main__Desafio5{
        flex-direction: column-reverse;
        justify-content: center;
    }

    .main__columnText__Desafio5 h3{
        font-size: 1.5rem;
    }
    .main__columnText__Desafio5 h2{
        font-size: 3.5rem;
        line-height: 4.5rem;
    }
    .main__columnText__Desafio5 p{
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 300;
    }
    
    .button__trailer__Desafio5{
        display: none;
    }
}
