.article__card__Desafio3{
    height: 40vh;
    width: 40vh;
    background-color: tomato;
    margin: 2vw;
}

.Card__img__Desafio3{
    height: 15vh;
    background-color: aqua;
}

.Card__text__Desafio3{
}