@font-face {
    font-family: Montserrat;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
 }

.body__Desafio2{
    width: 100%;
    margin:0px;
}

.header__sectionBlack__Desafio2, .header__sectionWhite__Desafio2{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__sectionBlack__Desafio2{
    color:#fff;
    background-color: #000;
}

.main__Banner__Desafio2{
    background:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.7)),url('../../assets/Desafio2/banner.svg');
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-left: 3vh ;
    font-family: 'Montserrat',sans-serif;
}

.main__Banner__text__title__Desafio2{
    margin-left: 90px;
    font-size: 40px;
}
.main__Banner__text__subtitle__Desafio2{
    margin-left: 90px;
    font-size: 18px;
}

.main__body__destaques__Desafio2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3vh;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
}

.main__body__destaques__Desafio2 span{
    margin-top: 5px;
}

.main__body__products__Desafio2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



.footer__Desafio2{
    background-color: #000;
    height: 5vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

