@font-face {
    font-family: Lato;
    src: url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
 }
@font-face {
    font-family: Merriweather;
    src: url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
 }

.main__Desafio4{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.main__imgUsers__Desafio4{
    background-color: #F7FAFC;
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__login__Desafio4{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main__loginComponents__Desafio4{
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

.main__title__Desafio4{
    margin-bottom: 4vh;
    font-family: 'Merriweather';
    font-size: 26px;
}
.main__title__Desafio4 h3{
    font-size: 22px;
}

.main__loginSectionInput__Desafio4{
    display: flex;
    flex-direction: column;
    padding: 6px;
}

.main__loginSectionInput__Desafio4 input{
   height: 30px;
   margin-top: 5px;
}

.main__a__Desafio4{
    color: #2B6CB0;
}

.main__loginSectionOptions__Desafio4{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.main__button__Desafio4,.main__buttonGoogle__Desafio4{
    all: unset;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 1vh;
    height: 5vh;
    min-height:50px ;
    width: 30vw;
}

.main__button__Desafio4{
    background-color: #04C35C;
    width: 100%;
}

.main__buttonGoogle__Desafio4{
    background-color: #1A202C;
    width: 100%;
    margin-bottom: 30px;
}
.main__buttonGoogle__Desafio4 img{
    margin-right: 15px;
}

.main__criarConta__Desafio4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__criarConta__Desafio4 a{
    padding-left: 5px;
}

@media screen and (max-width: 890px) {
    .main__imgUsers__Desafio4, .main__imgUsers__Desafio4 img{
        width: 0;
        height: 0;
    }
}
